<a href="https://colab.research.google.com/github/aparna511/Python-Practise/blob/main/PythonPractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
age = 26
first_name ='shivika'
gpa = 3.99

In [3]:
print(type(age))
print(type(first_name))
print(type(gpa))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
age = 26.2
print(type(age))
print(age,type(age))

<class 'float'>
26.2 <class 'float'>

In [5]:
print(id(age))

137406150722800

In [6]:
x=5
y=10
x,y = y,x
print('x=',x,'y=',y)

x= 10 y= 5

In [7]:
print(bool(1))
print(bool('DOG'))
print(bool(0))
print(bool(0 or 1))

print(bool(0))
print(bool(''))
print(bool(0 and 1))

True
True
False
True
False
False
False

In [8]:
x = 5 + 7
print(x, type(x))

12 <class 'int'>

In [9]:
x = 5-7
print(x,type(x))
x = 7/4
print(x,type(x))

x = 7//4
print(x,type(x))

x = 7 % 4
print(x)

x= 4 ** 3
print(x)


x = 2
x = x+5
print(x)

-2 <class 'int'>
1.75 <class 'float'>
1 <class 'int'>
3
64
7

In [10]:
x = 2
x+= 5

print(x)

7

In [11]:
x = 1 + 5 ** (3 // 2) - 6 % 4
print(x)

4

In [12]:
name = input('What is your name? ')
print("Hello,", name)
age = eval(input('How old are you? '))
print('Age =', age, type(age))

What is your name? Aparna
Hello, Aparna
How old are you? 80
Age = 80 <class 'int'>

In [13]:
base = eval(input('enter base'))
height = eval(input('enter height'))
area = base * height / 2
print('Area = ', area)

enter base5
enter height4
Area =  10.0

In [14]:
x= 69

print(x>50)
print(x == 50)
print(x != 50)

True
False
True

In [19]:
my_age = 19
print(my_age > 21)
if(my_age >= 21):
  print("Old Enough.")
else:
  print("Not old enough.")
  print("Maybe next year")

score = 72
if score>90:
   print('Grade A')
elif score>80:
   print('Grade B')
elif score>70:
   print('Grade C')
elif score>60:
   print('Grade D')
else:
   print('Grade F')


my_age =19
grade = 'C'

if my_age > 18  and grade == 'A':
  print('Eligible for scholarship')





my_age = 19
grade = 'C'


if my_age > 18 and grade == 'A':
   print('Eligible for scholarhip')

my_age = 19
grade = 'C'

if my_age > 18 or grade == 'A':
  print('Eligible for scholarhip')


# if ternary
x = 10
y = 20
#  action/ if condition true/ else condfition false
z = x + y if x > y else y - x
print(z)
# result 10

False
Not old enough.
Maybe next year
Grade C
Eligible for scholarhip
10

In [25]:
s = 'SimeiClini'
print(s)
print(len(s))
print(s[3])
print(s[1:3])
t = ' dude! '

SimeiClini
10
e
im

In [29]:
s += t
print(s + '|')
print(s.strip() + '|')
s = s.rstrip('! ')
print(s)

SimeiClini dude dude! |
SimeiClini dude dude!|
SimeiClini dude dude

In [30]:
s = 'Howdy dude!'

In [31]:
print(s.lower())
print(s.upper()[:5])

howdy dude!
HOWDY

In [32]:
print(s.title())

Howdy Dude!

In [33]:
print(s.replace('Howdy', 'Greetings'))

Greetings dude!

In [34]:
print(s.count('d'))
print(s.find('w'))

3
2

In [35]:
print('dud' in s)
print('X' not in s)
print(s.startswith('How'))
print(s.endswith('cat'))
print(s > 'Honk')
print(s.isalpha())
print(s[0:4].isalpha())
print(s.isnumeric())

True
True
True
False
True
False
True
False

In [36]:

print(s.split())
print('5,7,9'.split(','))
print('73.294'.split('.'))

['Howdy', 'dude!']
['5', '7', '9']
['73', '294']

In [37]:

print(s[0], '\t', s[1], '\t', s[2])
print(s[:s.find(' ')] + '\n' + s[s.find(' ')+1:])

H 	 o 	 w
Howdy
dude!

In [38]:
s = 'Raj'
for letter in s:
    print(letter)
for letter in s:
    print(letter, end='')
print()

R
a
j
Raj

In [39]:
for pig in s:
    if pig != 'a':
        print(pig, end='')
print()
for i in range(len(s)):
    print(i, end='')
print()
for i in range(len(s)):
    print(s[i])
for i in range(len(s)-1, -1, -1):
    print(s[i])
print(s[::-1])

Rj
012
R
a
j
j
a
R
jaR

In [40]:
x = 2
while x < 5:
    print('ha')
    x += 1

ha
ha
ha

In [41]:
x = 'frog'
print (x[3])			# prints 'g'

x = ['pig', 'cow', 'horse']
print (x[1])			# prints 'cow'

g
cow

In [42]:
x = 'computer'
print(x[1:4])			# items 1 to 3, 'omp'
print(x[1:6:2])			# items 1, 3, 5, 'opt'
print(x[3:])			# items 3 to end, 'puter'
print(x[:5])			# items 0 to 4, 'compu'
print(x[-1])			# last item, 'r'
print(x[-3:])			# last 3 items, 'ter'
print(x[:-2])			# all except last 2 items, 'comput'

omp
opt
puter
compu
r
ter
comput

In [43]:
x = 'bug' * 3
print (x)				# prints 'bugbugbug'

bugbugbug

In [44]:
x = [8, 5] * 3
print (x)

[8, 5, 8, 5, 8, 5]

In [45]:
x = 'bug'
print ('u' in x)

True

In [46]:
# Iterating	-- iterate through the items in a sequence
x = [7, 8, 3]
for item in x:
	print (item * 2)	# prints 14, 16, 6

x = [7, 8, 3]
for index, item in enumerate(x):
	print (index, item)	# prints 0 7, 1 8, 2 3

# Length -- count the number of items in a sequence
x = 'bug'
print (len(x))			# prints 3

x = ['pig', 'cow', 'horse']
print (len(x))			# prints 3

14
16
6
0 7
1 8
2 3
3
3

In [49]:
x = 'bug'
print (min(x))			# prints 'b'

x = ['pig', 'cow', 'horse']
print (min(x))			# prints 'cow'

# Maximum -- find the maximum item in a sequence
# alpha or numeric types, but cannot mix types
x = 'bug'
print (max(x))			# prints 'u'

x = ['pig', 'cow', 'horse']
print (max(x))			# prints 'pig'

# Sum -- find the sum of items in a sequence
# entire sequence must be numeric type
#x = [5, 7, 'bug']
#print (sum(x))			# error!

x = [2, 5, 8, 12]
print (sum(x))			# prints 27
print (sum(x[-2:])) 	# prints 20

b
cow
u
pig
27
20

In [50]:
x = 'bug'
print (sorted(x))		# prints ['b', 'g', 'u']

x = ['pig', 'cow', 'horse']
print (sorted(x))	    # prints ['cow', 'horse', 'pig']

# count (item)
# Returns count of an item
x = 'hippo'
print (x.count('p'))	# prints 2

x = ['pig', 'cow', 'horse', 'cow']
print (x.count('cow'))	# prints 2

# index (item)
# Returns the index of the first occurrence of an item
x = 'hippo'
print (x.index('p'))	# prints 2

x = ['pig', 'cow', 'horse', 'cow']
print (x.index('cow'))	# prints 1

# Unpacking	- unpack the n items of a sequence into n variables
x = ['pig', 'cow', 'horse']
a, b, c = x				# now a is 'pig', b is 'cow', c is 'horse'""

['b', 'g', 'u']
['cow', 'horse', 'pig']
2
2
2
1

In [52]:
x = list((1, 2, 3))		# note double parens
x = ['a', 25, 'dog', 8.43]
#x = list(tuple1)

# list creation using comprehensions
x = [m for m in range(8)]
# resulting list: [0, 1, 2, 3, 4, 5, 6, 7]
x = [z**2 for z in range(10) if z>4]
# resulting list: [25, 36, 49, 64, 81]

# Delete -- delete a list or an item from a list
x = [5, 3, 8, 6]
del(x[1])				# [5, 8, 6]
del(x)					# deletes list x

# Append -- append an item to a list
x = [5, 3, 8, 6]
x.append(7)				# [5, 3, 8, 6, 7]

# Extend -- append an sequence to a list
x = [5, 3, 8, 6]
y = [12, 13]
x.extend(y)

In [53]:
x = [5, 3, 8, 6]
x.insert(1, 7)			# [5, 7, 3, 8, 6]
x.insert(1,['a','m'])	# [5, ['a', 'm'], 7, 3, 8, 6]

# Pop -- pops last item off the list, and returns item
x = [5, 3, 8, 6]
x.pop()					# [5, 3, 8]. and returns the 6
print(x.pop())			# [5, 3]. and prints 8

# Remove -- remove first instance of an item
x = [5, 3, 8, 6, 3]
x.remove(3)				# [5, 8, 6, 3]

# Reverse -- reverse the order of the list
x = [5, 3, 8, 6]
x.reverse()

8

In [59]:
x = [5, 3, 8, 6]
x.sort()				# [3, 5, 6, 8]

# Clear	-- delete all items from the list
x = [5, 3, 8, 6]
x.clear()				# []

# TUPLES
# ------------------------------------------------
# constructors – creating a new tuple
x = ()					# no-item tuple
x = (1,2,3)
x = 1, 2, 3				# parenthesis are optional
x = 2, 					# single-item tuple
list1 = [5, 7, 7]
x = tuple(list1)		# tuple from list

# Tuples are Immutable, but member objects may be mutable
x = (1, 2, 3)
#del(x[1])				# error!
#x[1] = 8				# error!

x = ([1,2], 3)			# 2-item tuple: list and int
del(x[0][1])			# ([1], 3)

# SETS
# ------------------------------------------------
# constructors – creating a new set
x = {3,5,3,5}			# {5, 3}
x = set()				# empty set
list1 = [5, 7, 7]
x = set(list1)			# new set from list. strips duplicates, {5, 7}

# Set Comprehension
x = {3*x for x in range(10) if x>5}
# resulting set: {18, 21, 24, 27} but in random order

# DICTIONARIES
# ------------------------------------------------
# constructors – creating a new dict
x = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
x = dict([('pork', 25.3),('beef', 33.8),('chicken', 22.7)])
x = dict(pork=25.3, beef=33.8, chicken=22.7)

# Accessing keys and values in a dict
print(x.keys())				# returns list of keys in x
print(x.values())				# returns list of values in x
print(x.items())				# returns list of key-value tuple pairs in x

print(item in x.values())		# tests membership in x, returns boolean

# Iterating a Dict
for key in x:			# iterate keys
    print(key, x[key])	# print all key/value pairs

for k, v in x.items():	# iterate key/value pairs
    print(k, v)			# print all key/value pairs

dict_keys(['pork', 'beef', 'chicken'])
dict_values([25.3, 33.8, 22.7])
dict_items([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])
False
pork 25.3
beef 33.8
chicken 22.7
pork 25.3
beef 33.8
chicken 22.7

In [60]:
def cuber(num):
	num_cubed = num * num * num
	return num_cubed

# to call the function, and pass in 5:
cuber(5)

125

In [61]:
x = 5
x_cubed = cuber(x)
print(x, x_cubed)

5 125

In [62]:
def cuber(num = 2):
	num_cubed = num * num * num
	return num_cubed

In [63]:
print(cuber())		# uses the default 2
print(cuber(3))		# 3 overrides the default

# you can pass in multiple values, and return multiple values
# but order is important
def solve_triangle(base, height, side1, side2, side3):
	area = base * height / 2
	perimeter = side1 + side2 + side3
	return area, perimeter

8
27

In [64]:
area, perim = solve_triangle(3, 4, 5, 3, 4)	# b=3, h=4, s1=5, s2=3, s3=4
print('Area:', area, ' Perimeter:', perim)

# above are all called "positional arguments", and order matters
# you can also pass in "keyword arguments" when calling a function
a, p = solve_triangle(side1=5, side2=3, side3=4, height=4, base=3)
print(a, p)

# or use a combination of both, but positional arguments must come first
a, p = solve_triangle(3, 4, side3=4, side2=3, side1=5)
print(a, p)

Area: 6.0  Perimeter: 12
6.0 12
6.0 12

In [65]:
class Circle:
  def __init__(self,r=1):
    self.radius = r

  def getPerimeter(self):
    return 2 * 3.14 * self.radius

  def get_Area(self):
    return 3.14 * self.radius * self.radius

circle1 = Circle(3)

print("Radius = ",circle1.radius)
print("Perimeter = ",circle1.getPerimeter())
print("Area = ",circle1.get_Area())

Radius =  3
Perimeter =  18.84
Area =  28.259999999999998

In [66]:
import math

In [67]:
print(math.pi)

3.141592653589793

In [68]:
import random
print(random.randint(1,5))

4

In [69]:
import math as m
print(m.pi)

3.141592653589793

In [70]:
import random as rd
print(rd.randint(1,5))

3

In [71]:
from math import pi
print(pi)

from random import randint, shuffle
print(randint(1,5))
x = ['a', 'b', 'c']
shuffle(x)
print(x)

3.141592653589793
1
['b', 'c', 'a']

In [72]:
x = ['a', 'b', 'c']
from random import shuffle as sf
sf(x)
print(x)

['c', 'a', 'b']